form {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 100px;
}

body {
  color: white;
}

.name-label, .email-label, .message-label {
  position: relative;
  right: 10px;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}