.projects-h1 {
  text-align: center;
  color: azure;
  margin-left: 330px;
}

h4 {
  color: white;
  margin: 25px 0 15px ;
}

p {
  color: white;
  margin-bottom: 55px;
}

.portfolio-container-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5%;
  margin-left: 480px;
  margin-right: 150px;
  margin-top: 90px;
  justify-items: center;
}

.project-1-div, .project-2-div,
.project-3-div, .project-4-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  /* border: solid 2px white; */
}

.project-1-img, .project-2-img,
.project-3-img, .project-4-img {
  max-width: 450px;
  border-radius: 25px;
  visibility: visible;
  box-shadow: 6px 6px 6px 6px rgb(0, 0, 0);
  cursor: pointer;
}

.project-1-img:hover, .project-2-img:hover,
.project-3-img:hover, .project-4-img:hover {
  opacity: .5;
}

.background-img-div {
  visibility: hidden;
  background-color: white;
  border-radius: 25px;
  box-shadow: 6px 6px 6px 6px rgb(0, 0, 0);
}

.background-img-div:hover {
  visibility: visible;
}